@media all {

    body, ul, h1, h2 {padding: 0; margin: 0;}
}

@media screen {

    :root {
        --border: 7px solid #F18606;
        --primaryColor: #fff;
        --secondaryColor: #333;
    }

    /* General */
    .container {width: 1020px; margin: 0 auto;}
    body {color: var(--secondaryColor);}
    a {color: var(--primaryColor); text-decoration: none;}
    h2, p {text-align: center;}
    header {box-sizing: content-box;}
    header .logo, .banned a, .collage h2, .longboards li, footer {text-transform: uppercase;}
    header div, .longboards {font-family: 'Righteous', cursive;}
    .banned, .vintageDecks, .skateShoes, .longboards, footer {box-sizing: border-box;}
    .banned, .collage, .longboards li, footer {font-family: 'Open Sans', sans-serif;}
    .banned, .vintageDecks, .skateShoes, .longboards, .longboards li {display: flex; flex-direction: column; justify-content: start; align-items: center;}
    .image {background-repeat: no-repeat; background-size: cover; background-position: center; display: block;}
    .imageDescr {font-size: 0; height: 0; width: 0;}

    /* Header */ 
    header {background-image: url(../assets/city-skate-hero.webp); height: 567px; border-bottom: var(--border);}
    header div {font-weight: 400; padding: 14px 29px; display: flex; flex-direction: row; justify-content: space-between;}
    header .logo {font-size: 36px;}
    header ul {list-style: none; display: flex; gap: 7px; font-size: 36px; justify-content: end;}
    header nav a:hover {color: #F18606;}
    
    /* Banned */
    .banned {height: 392px; padding: 132px; gap: 17px; }
    .banned h2 {text-transform: lowercase; font-weight: 300; font-size: 1.61rem;}
    .banned a {font-size: 14px; font-weight: 700; margin-top: 35px; color: var(--secondaryColor)}

    /* Collage */
    .collage {position: relative; border-bottom: var(--border); height: 1382px;}
    .vintageDecks, .sunset, .daytime, .blurred, .skateShoes {position: absolute;}
    .vintageDecks, .skateShoes {background: #000; color: var(--primaryColor); z-index: 10;}
    .collage h2 {font-size: 16px;}
    .collage p {font-size: 14px; line-height: 2.6; margin-top: 8px;}
    .vintageImage {background-image: url(../assets/vintage-decks.webp); height: 340px; width: 680px;}
    .vintageDecks {top: 0; right: 0; width: 340px; height: 528px; padding: 143px 60px 0; gap: 0;}
    .skateboardIcon {background-image: url(../assets/skateboard-icon.png); position: absolute; width: 142px; height: 48px; top: 367px;}
    .sunset {background-image: url(../assets/skateboarder-sunset-silhouette.webp); width: 340px; height: 504px;}
    .daytime {background-image: url(../assets/skateboarder-daytime.webp); width: 680px; height: 504px; right: 0;} 
    .blurred {background-image: url(../assets/skateboarder-blurred-motion.webp); width: 1020px; height: 538px; top: 844px;}
    .skateShoes {width: 340px; height: 318px; top: 755px; padding: 80px 50px 0;}

    /* Longboard */
    .longboards {height: 530px; border-bottom: var(--border); padding: 70px 0;}
    .longboards h2 {font-size: 40px;}
    .longboards ul {margin-top: 40px; display: flex; gap: 40px; list-style: none;}
    .longboards li {gap: 18px; font-size: 23px; font-weight: 700;}
    .longboards a {color: var(--secondaryColor);}
    .trucksImage {background-image: url(../assets/trucks.webp); width: 260px; height: 220px;}
    .bearingsImage {background-image: url(../assets/bearings.webp); width: 260px; height: 220px;}
    .wheelsImage {background-image: url(../assets/wheels.webp); width: 260px; height: 220px;}
    
    /* Footer */
    footer {background: #999999; height: 215px; display: grid; padding: 40px 0px 0; grid-template-columns: 1fr 1fr 1fr 1fr; font-weight: 700;}
    footer a:hover {color: #e6e6e6;}
    footer h2, footer a, footer .socialMedia {padding: 0; color: black;}
    footer ul {list-style: none; gap: 14px;}
    footer .contact, footer ul, footer.socialMedia {display: flex; flex-direction: column;}
    footer .contact {margin-left: 75px; gap: 18px;} 
    footer .contact h2 {margin: 0; text-align: left; font-size: 14px;}
    footer .secondaryNav {margin-left: 22px; gap: 30px;}
    footer .secondaryLongboardNav {margin-left: -30px;}
    .socialMedia {display: flex; gap: 23px; margin: -2px 0 0 4px;}
    .icon {display: inline-block; height: 39px;}
    .instagramIcon {background: url(../assets/social-media.webp) 0px; width: 38px;}
    .youtubeIcon {background: url(../assets/social-media.webp) -62px; width: 44px;}
    .twitterIcon {background: url(../assets/social-media.webp) -132px; width: 40px; margin-left: 2px;}
    footer section:last-child p {font-weight: 300; font-size: 12px; font-family: 'Roboto', sans-serif; margin-top: 38px; text-transform: none;}
}

@media screen and (max-width: 1020px) {

    .container {width: 100%;}
    .vintageImage {width: 66.66%;}
    .vintageDecks {width: 33.33%;}
    .sunset {width: 33.33%;}
    .daytime {width: 66.66%;}
    .blurred {width: 100%;}
    .skateShoes {width: 33.33%;}
    
}

@media print {

}